span {
  color: rgb(255, 0, 0); /* Red color */
}

/* Adding the :before pseudo-element */
#container:before {
  content: 'Before Element ';
  color: rgb(255, 0, 0); /* Red color */
  font-weight: bold;
}

/* Adding the :after pseudo-element */
#container:after {
  content: ' After Element';
  color: rgb(255, 0, 0); /* Red color */
  font-weight: bold;
}